<div class="datepicker-months" style="display: block;">
    <table class="table-condensed">
        <thead>
        <tr>
            <th class="prev" style="visibility: visible;">«</th>
            <th colspan="5" class="datepicker-switch">2015</th>
            <th class="next" style="visibility: visible;">»</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="7">
                <span class="month">Jan</span>
                <span class="month">Feb</span>
                <span class="month">Mar</span>
                <span class="month">Apr</span>
                <span class="month">May</span>
                <span class="month">Jun</span>
                <span class="month">Jul</span>
                <span class="month">Aug</span>
                <span class="month">Sep</span>
                <span class="month">Oct</span>
                <span class="month">Nov</span>
                <span class="month">Dec</span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7" class="today" style="display: none;">Today</th>
        </tr>
        <tr>
            <th colspan="7" class="clear" style="display: none;">Clear</th>
        </tr>
        </tfoot>
    </table>
</div>