<input type="text" ng-model="monthModel"/>
<div style="position:relative">
<div class="datepicker-months" style="display: block;" ng-hide="pickerHide">
    <table class="table-condensed">
        <thead>
        <tr>
            <th class="prev" style="visibility: visible;">«</th>
            <th colspan="5" class="datepicker-switch">2015</th>
            <th class="next" style="visibility: visible;">»</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="7">
                <span class="month" ng-repeat="yearMonth in yearMonths" ng-class="{'active':yearMonth==monthModel}" ng-click="$parent.monthModel=yearMonth">{{yearMonth}}</span>

            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7" class="today" style="display: none;">Today</th>
        </tr>
        <tr>
            <th colspan="7" class="clear" style="display: none;">Clear</th>
        </tr>
        </tfoot>
    </table>
</div>
</div>